.controllers-container {
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absoulte;
  border: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all 0.25s ease-in;
}

.controllers-container.active {
  opacity: 1;
  transition: all 0.25s ease-in;
}

.player-controls {
  border: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  font-size: 100%;
  position: absolute;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  background: linear-gradient(0deg,rgba(0,0,0,.8) 0,rgba(0,0,0,.35) 60%,transparent);
}

.player-controls-container {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
}

.player-controls-left {
  background-color: #212121;
  color: #212121;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
 }

 .player-controls-right {
  background-color: #212121;
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;

 }

 .tooltip-wrapper {
  position: relative;
  display: inline-flex;
 }

 .button-control {
  border: 0;
  padding: 0;
  border-radius: 3px;
  background-color: transparent;
  text-decoration: none;
  height: 30px;
  white-space: nowrap;
 }

 .button-icon {
   align-items: center;
   display: flex;
   justify-content: center;
 }

 .icon {
   width: 2rem;
   height: 2rem;
   margin: 0;
   padding: 0;
   font-size: 100%;
 }

 .icon-fill {
   height: 100%;
   align-items: center;
   display: inline-flex;
   width: 100%;
 }

 .icon-fill-inner {
   overflow: hidden;
   position: relative;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
 }

 .icon-fill-inner-spacer {
   padding-bottom: 100%;
 }

 .icon-fill-inner > :not(.icon-fill-inner-spacer) {
   min-height: 100%;
   position: absolute;
   width: 100%;
 }

 .icon-fill-inner img {
   top: -1px;
   max-width: 16px;
   left: 8px;
 }

 .icon-fill-inner .quality-text-container {
  top: -1px;
  max-width: 16px;
}

.icon-fill-inner .quality-text-container span {
  color: #fff;
  padding: 10px;
  top: 10px;
  position: relative;
  right: 10px;

}

.quality-controller-outer {
   
}

.quality-controller {
  
  margin-right: 50px;
  left: auto;
  right: 0;
  width: 15rem;
  bottom: 100%;
  margin-bottom: 8px;
  top: auto;
  margin-left: 8px;
  max-width: 90vw;
  z-index: 2000;
  position: absolute;
  display: block;
}

.quality-controller-container {
  background-color: #212121;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 16px rgba(0,0,0,.2),0 0 4px rgba(0,0,0,.05)
}

.quality-controller-content {
  max-height: 150px;
  flex-direction: column;
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
}

.quality-controller-content-box {
  padding: 1em !important;
  overflow: auto !important;
}

.quality-controller-content-box-title {
  position: relative;
  font-size: 18px;
  width: 100%;
  margin-left: 10px;
}

.quality-controller-content-box-border {
  border-top: #fff solid 1px;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

/* Este es el container del item */

.quality-controller-content-box-item-container {
  padding: .5rem;
}

.quality-controller-content-box-item {
  align-items: center;
  display: flex;
}

.quality-controller-content-box-item-inner {
  flex-grow: 1;
}


.quality-controller-content-box-item-inner-option {
  font-size: 0.8rem;
}

.quality-controller-content-box-item-inner-option input {
  border: none;
  clip: rect(0 0 0 0 );
  color: #18181b;
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
}

.quality-controller-content-box-item-inner-label {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  padding: 0 0 0 1.6rem;
  position: relative;
  display: block;
}

.quality-controller-content-box-item-inner-option input:checked + .quality-controller-content-box-item-inner-label::before {
  border: 1px solid transparent;
}

.quality-controller-content-box-item-inner-option input:checked + .quality-controller-content-box-item-inner-label::after {
  background-color: #0088a3;
  border-radius: 50%;
  height: .8rem;
  left: 0px;
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
  width: .7rem;
}

.quality-controller-content-box-item-inner-label::before {
  border-radius: 50%;
  background-clip: padding-box;
  border: 1px solid #fff;
  box-sizing: border-box;
  content: "";
  height: 0.8rem;
  left: 0;
  margin-top: -.4rem;
  position: absolute;
  top: 50%;
  transition: box-shadow .1s ease-in, background .1s ease-in;
  width: 0.8rem;
}

.quality-controller-content-box-item-inner-label::after {
  transition: background .1s ease-in;
  content: "";
  display: block; 
}

